body {
  background: rgb(65, 63, 63);
  text-align: center;
  margin: 0 auto;
  padding: 60px 20px;
  color: white;
}
button {
  padding: 10px 20px;
  border-radius: 12px;
  background: linear-gradient(45deg, rgb(31, 31, 112), rgb(206, 8, 8));
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 24px;
}
form {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
